.ulItem li a{
    font-size: 14px;
}

.loginBtn{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;

width: 70px;
height: 40px;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px solid #D0D5DD;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.getStartBtn{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;

color: white;
height: 40px;

/* Primary/600 */

background: #155EEF;
/* Primary/600 */

border: 1px solid #155EEF;
/* Shadow/xs */

box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.freeTrailBtn{
  
  height: 20px;
  
  /* Text sm/Semibold */
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  
  
  /* Gray/600 */
  
  color: #475467;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}
.freeTrailBtn:hover{
    background-color: rgb(4, 4, 109);
    color: white;
 }
 .getAQuote{
    background-color: rgb(4, 4, 109);
    color: white;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
   cursor: pointer;
 }
 .getAQuote:hover{
    background-color: rgb(3, 3, 145)
 }
 .aboutBar ul li{
   position: relative;
   background: rgb(247, 251, 255);
 } 
.Collapsible__trigger{
   display: flex;
   justify-content: start;
}
.mega-menu {
   display: none;
   left: 0;
   position: absolute;
   text-align: left;
   width: 100%;
  transition:.4s;
  z-index:1000;
 }
 .navBtn{
  color: white;
  background: rgb(6, 6, 122);
  padding: 10px 20px;
  border-radius: 8px;
 }

 .menuContainer {
  /* padding: 20px; */
 }

.listItem a {
  text-align: left;
}
 /* #hoverable Class Styles
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
 .hoverable {
   position: static;
 }

 .hoverable > a:after {
   content: "\25BC";
   font-size: 12px;
   padding-left: 1px;
   position: relative;
   top: -1px;
 }

 .hoverable:hover .mega-menu {
   display: block;
  transition:.4s;
 }
 


 /* #toggle Class Styles
 –––––––––––––––––––––––––––––––––––––––––––––––––– */

 .toggleable > label:after {
   content: "\25BC";
   font-size: 10px;
   padding-left: 6px;
   position: relative;
   top: -1px;
 }

 .toggle-input {
   display: none;
 }
 .toggle-input:not(checked) ~ .mega-menu {
   display: none;
 }

 .toggle-input:checked ~ .mega-menu {
   display: block;
 }

 .toggle-input:checked + label {
   color: white;
   background: #2c5282; /*@apply bg-blue-800 */
 }

 .toggle-input:checked ~ label:after {
   content: "\25B2";
   font-size: 10px;
   padding-left: 6px;
   position: relative;
   top: -1px;
 }
 .m-item a{
    font-size:14px;
 }
 .m-item a span{
    font-size:14px;
 }
.mobile-mega-menu-holder{
  right:24px;
  top:57px;
  width:280px;
  background:rgba(250, 250, 250,.94);
}
.mb-mega-item img{
  max-width:32px;
}
.mb-mega-item p{
  font-size:16px;
  
  color:#3a3a3a;
}
.mb-mega-item:hover p{
  color:#7A80BD;
}
.mg-2{
  max-width:360px;
  right:unset;
  left:unset;
}
.mx-220{
  max-width:220px;
}
.mx-220 a:hover{
  color:#7a80bd;
}
.mega-menu-item-2 img{
  max-width:48px;
}
.mega-menu-item-2 p{
  color:#3a3a3a;
  font-weight:400;
}
.mega-menu-item-2:hover p{
  color:#7a80bd;
}
.mega-sub{
  color:#232A5F;
}
.mobile-mega-subclose{
  height: 48px;
  
width: 48px;
border: 1px solid #999;
line-height:48px;
text-align:center;
border-radius:50%;
bottom: 44%;
right:-22px;
background:#ffffff;
}
.mobile-mega-subclose:hover{
  color:#ffffff;
  background:#7A80BD;
  border-color:#7A80BD;
  transition:.3s;
  cursor:pointer;
  
}
 