.letsTalkContainer{
    background-image: url(../../assets/images/lets-talk-bg.png);
    background: linear-gradient(65deg,rgba(245, 246, 255, 1),rgba(245, 246, 255,1));
    background-position: center center,top center;
    background-size: 90% 90%,cover;
    /* height: 100vh; */
}
.profilePhoto{
    border-radius: 50%;
    background: white;
    box-shadow: 2px solid gray;
}
@media screen and (min-width: 260px) and (max-width: 760px)  {
    .letsTalkContainer{
        background-image: url(../../assets/images/lets-talk-bg.png);
        background: linear-gradient(65deg,rgba(245, 246, 255, 1),rgba(245, 246, 255,1));
        background-position: center center,top center;
        
        /* height: 100vh; */
        
    }
}
