.workingContainer{
    background-image: url(../../assets/images/works-bg.png),linear-gradient(65deg,rgba(245, 246, 255, 1),rgba(245, 246, 255,1));
    background-position: center center,top center;
    background-size: 90% 90%,cover;
    /* height: 100vh; */
    
}
.workingHead{
    color: #7A80BD;
}
.cardContainer{
    background-color: white;
    box-shadow: px 0px 15px rgba(0,0,0,0.11);
    padding: 30px;
    border-radius: 8px;
    position: relative;
    box-shadow: 5px 0px 15px rgba(0,0,0,0.11);
    
    
}
.cardOne{
    z-index: 100;
}
.cardTwo{
    z-index: 80;
}

.arrow{
    position: absolute;
    margin-left: -42px;
    display: flex;
    align-items: center;
    margin-top: -55px;
    width: 30px;
}

@media screen and (min-width: 260px) and (max-width: 760px)  {
    .workingContainer{
        background-image: url(../../assets/images/lets-talk-bg.png);
        background: linear-gradient(65deg,rgba(245, 246, 255, 1),rgba(245, 246, 255,1));
        background-position: center center,top center;
        
        /* height: 100vh; */
        
    }
}
