.serviceContainer{
    background-image: url(../../assets/images/services/service-page-bg.png),linear-gradient(#F5F6FF,#F5F6FF);
    background-position: center center,center center;
    background-size: auto auto,100% 100%;
    background-repeat: no-repeat;
}
.sectionPara{
    font-size: 18px;
}
.photoService{
    box-shadow: 0 4px 4px rgba(0,0,0,.22);
}