$media-mobile-sm: "only screen and (max-width : 480px)";
.trail-main__wrapper {
	.body-main--frame {
		@media #{$media-mobile-sm} {
			width: inherit;
		}
	}
	.arrow-progressbar {
		height: 50px;
		margin: 120px 0 40px 0;
		width: 95%;
		@media #{$media-mobile-sm} {
			height: 80px;
			margin: 50px 10px 20px 10px;
			width: 85%;
		}
	}
	.arrow-progressbar__main {
		display: flex;
		height: 100%;
		font-size: 18px;
		.progressbar-single {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			color: #898a9f;
			&::after {
				content: "";
				position: absolute;
				right: -26px;
				z-index: 1;
				width: 0;
				height: 0;
				border-top: 26px solid transparent;
				border-bottom: 26px solid transparent;
				border-left: 26px solid #dee1fa;
				@media #{$media-mobile-sm} {
					border-top: 41px solid transparent;
					border-bottom: 41px solid transparent;
					border-left: 30px solid #dee1fa;
					right: -28px;
				}
			}
			@media #{$media-mobile-sm} {
			}
			p {
				@media #{$media-mobile-sm} {
					margin-left: 30px;
					font-size: 15px;
				}
			}
		}
		.choose-services {
			flex: 1;
			background: #dee1fa;
		}
		.upload-image {
			flex: 1;
			background: #d6d9f3;
			&::after {
				content: "";
				position: absolute;
				right: -40px;
				z-index: 1;
				width: 0;
				height: 0;
				border-top: 26px solid transparent;
				border-bottom: 26px solid transparent;
				border-left: 40px solid #d6d9f3;
				@media #{$media-mobile-sm} {
					border-top: 41px solid transparent;
					border-bottom: 41px solid transparent;
					border-left: 30px solid #d6d9f3;
					right: -28px;
				}
			}
		}
		.contact-information {
			flex: 1;
			background: #dee1fa;
		}
		.active {
			background: #7a80bd;
			color: white;
			&::after {
				content: "";
				position: absolute;
				right: -20px;
				z-index: 1;
				width: 0;
				height: 0;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
				border-left: 26px solid #7a80bd;
				@media #{$media-mobile-sm} {
					border-top: 41px solid transparent;
					border-bottom: 41px solid transparent;
					border-left: 30px solid #7a80bd;
					right: -28px;
				}
			}
		}
		@media #{$media-mobile-sm} {
			font-size: 15px;
		}
	}

	.service-section__main {
		margin-bottom: 150px;
		@media #{$media-mobile-sm} {
			margin-bottom: 50px;
		}
	}
	.formsection-main__body {
		h4 {
			font-size: 20px;
			margin: 40px 0 25px 0;
			@media #{$media-mobile-sm} {
				margin: 40px 0 15px 0;
			}
		}
		.product-card-main {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 23px;

			.item-image {
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					@media #{$media-mobile-sm} {
						height: 200px;
					}
				}
			}
			@media #{$media-mobile-sm} {
				display: block;
			}
		}
		/* Tooltip container */
		.tooltip {
			position: relative;
			display: inline-block;
		}

		/* Tooltip text */
		.tooltip .tooltiptext {
			visibility: hidden;
			width: 120px;
			background-color: rgba(85, 85, 85, 0.685);
			color: #fff;
			text-align: center;
			padding: 5px 0;
			border-radius: 6px;
			font-size: 14px;
			/* Position the tooltip text - see examples below! */
			position: absolute;
			z-index: 1;
			right: -3px;
			bottom: -40px;
			&::after {
				content: "";
				position: absolute;
				bottom: 100%;
				right: 8px;
				margin-left: -5px;
				border-width: 5px;
				border-style: solid;
				border-color: transparent transparent rgba(85, 85, 85, 0.685) transparent;
			}
		}
		/* Show the tooltip text when you mouse over the tooltip container */
		.tooltip:hover .tooltiptext {
			visibility: visible;
		}
		@media #{$media-mobile-sm} {
			margin: 0 10px;
		}
	}

	.upload-image__main {
		display: none;
		margin-bottom: 150px;
		p {
			width: 50%;
			font-size: 20px;
			line-height: 27px;
			@media #{$media-mobile-sm} {
				width: inherit;
				margin: 0 10px;
			}
		}
		.drag-area {
			border: 2px dashed #7a80bdcc;
			outline: #fafafa solid 8px;
			height: 350px;
			border-radius: 5px;
			background: #fafafa;
			position: relative;
			padding: 15px;
			margin-top: 40px;
			filter: drop-shadow(0px 1px 4px rgba(122, 128, 189, 0.35));

			.result {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 20px;
				width: 100%;
				@media #{$media-mobile-sm} {
					grid-template-columns: repeat(3, 1fr);
					gap: 10px;
				}
			}
			img {
				height: 150px;
				width: 100%;
				object-fit: cover;
				border-radius: 5px;
			}
			.button-container {
				position: relative;
				width: 100%;
				.image_button {
					background: black;
					color: white;
					height: 22px;
					width: 22px;
					border: 0.5px solid white;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					transform: rotate(45deg);
					font-size: 18px;
					position: absolute;
					top: -10px;
					right: -10px;
					padding: inherit;
					&:hover {
						transform: rotate(45deg) scale(1.2);
					}
				}
			}
			@media #{$media-mobile-sm} {
				margin: 50px 20px 0 20px;
			}
		}

		.drag-area__btn {
			padding: 5px 20px;
			border-radius: 5px;
			background: #fafafaed;
			box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 10%);
			display: inline-flex;
			align-items: center;
			gap: 5px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			cursor: pointer;
			header {
				color: #8b8b8b;
			}
			button {
				background: none;
				border: none;
				font-size: 18px;
				color: #5660cec7;
				cursor: pointer;
				padding: 0;
				// padding: inherit;
				@media #{$media-mobile-sm} {
					font-size: 15px;
				}
			}
			@media #{$media-mobile-sm} {
				width: 85%;
				font-size: 15px;
				padding: 0 10px;
			}
		}
		@media #{$media-mobile-sm} {
			margin-bottom: 50px;
		}
	}
	.contact-information__main {
		display: none;
		margin-bottom: 150px;
		position: relative;
		h6 {
			font-size: 20px;
			@media #{$media-mobile-sm} {
				margin: 40px 0 20px 0;
				font-size: 18px;
			}
		}
		.common-flex-section {
			display: flex;
			width: 100%;
			justify-content: space-between;
			gap: 85px;
			margin-top: 30px;
			.primaryinput-container {
				flex: 1;
				display: flex;
				flex-direction: column;
				@media #{$media-mobile-sm} {
					margin-bottom: 15px;
				}
			}
			@media #{$media-mobile-sm} {
				display: block;
				margin-top: 0;
			}
		}
		.phone-label {
				margin-bottom: 15px;
			
		}
		.message-section {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-top: 30px;
			textarea {
				background: #fafafa;
				border: none;
				outline: none;
				border-left: 1px solid #9095ca;
				padding: 15px 25px;
				font-size: 18px;
			}
		}
		.contact-input {
			border: none;
			outline: none;
			background: #f2f2f2;
			width: 100%;
			height: inherit;
			padding: 17px 25px;
			border-left: 1px solid #9095ca;
			font-size: 18px;
			margin-top: 13px;
		}
		.phone {
			padding-left: 50px;
		}
		.contact-information {
			/* Tooltip container */
			.tooltip {
				position: relative;
				display: inline-block;
			}

			/* Tooltip text */
			.tooltip .free__warning-text {
				visibility: hidden;
				width: 63%;
				background-color: rgb(255, 255, 255);
				color: #000;
				text-align: center;
				padding: 10px 10px;
				border-radius: 6px;
				font-size: 14px;
				box-shadow: 4px 5px 10px #ccc;
				display: flex;
				align-items: center;
				gap: 5px;
				/* Position the tooltip text - see examples below! */
				position: absolute;
				z-index: 1;
				left: 20%;
				top: 10px;
				border: 0.3px solid #000;
				&::after {
					content: "";
					position: absolute;
					bottom: 100%;
					left: 15%;
					margin-left: -5px;
					border-width: 8px;
					border-style: solid;
					border-color: transparent transparent rgb(221, 221, 221) transparent;
				}
				span {
					margin: 0;
					padding: 0;
					color: orange;
					font-size: 28px;
				}
				.material-symbols-outlined {
					font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
				}
			}
			/* Show the tooltip text when you mouse over the tooltip container */
			.tooltip:hover .tooltiptext {
				// visibility: visible;
			}
		}
		.free_trail-button {
			position: absolute;
			bottom: -20px;
			right: 30px;
			font-size: 26px;
			.button-sub {
				background: #232a5f;
				padding: 10px 30px 10px 0px;
				width: 170px;
				color: white;
				border: none;
				height: inherit;
				// width: inherit;
				cursor: pointer;
				display: grid;
				place-content: center;
				@media #{$media-mobile-sm} {
					padding: 10px 20px 10px 0;
					width: 120px;
				}
			}
			.submit-btn {
				position: relative;
				span {
					position: absolute;
					top: 14px;
					right: 25px;
					color: white;
					cursor: pointer;
					@media #{$media-mobile-sm} {
						top: 8px;
						right: 15px;
					}
				}
				.loader {
					pointer-events: none;
					width: 25px;
					height: 25px;
					margin-left: 15px;
					border-radius: 50%;
					border: 3px solid transparent;
					border-top-color: #fff;
					animation: an1 1s ease infinite;
				}

				@keyframes an1 {
					0% {
						transform: rotate(0turn);
					}
					100% {
						transform: rotate(1turn);
					}
				}
			}
			@media #{$media-mobile-sm} {
				font-size: 18px;
				bottom: 0;
				right: 10px;
			}
		}
		@media #{$media-mobile-sm} {
			margin: 0 10px 50px 10px;
		}
	}
	.previous-button {
		&:hover {
			color: rgb(122, 128, 189);
		}
	}
	@media #{$media-mobile-sm} {
		width: 100%;
	}
}
