@media only screen and (max-width : 480px) {
  .trail-main__wrapper .body-main--frame {
    width: inherit;
  }
}
.trail-main__wrapper .arrow-progressbar {
  height: 50px;
  margin: 120px 0 40px 0;
  width: 95%;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .arrow-progressbar {
    height: 80px;
    margin: 50px 10px 20px 10px;
    width: 85%;
  }
}
.trail-main__wrapper .arrow-progressbar__main {
  display: flex;
  height: 100%;
  font-size: 18px;
}
.trail-main__wrapper .arrow-progressbar__main .progressbar-single {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #898a9f;
}
.trail-main__wrapper .arrow-progressbar__main .progressbar-single::after {
  content: "";
  position: absolute;
  right: -40px;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 40px solid #dee1fa;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .arrow-progressbar__main .progressbar-single::after {
    border-top: 41px solid transparent;
    border-bottom: 41px solid transparent;
    border-left: 30px solid #dee1fa;
    right: -28px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .arrow-progressbar__main .progressbar-single p {
    margin-left: 30px;
    font-size: 15px;
  }
}
.trail-main__wrapper .arrow-progressbar__main .choose-services {
  flex: 1;
  background: #dee1fa;
}
.trail-main__wrapper .arrow-progressbar__main .upload-image {
  flex: 1;
  background: #d6d9f3;
}
.trail-main__wrapper .arrow-progressbar__main .upload-image::after {
  content: "";
  position: absolute;
  right: -40px;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 40px solid #d6d9f3;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .arrow-progressbar__main .upload-image::after {
    border-top: 41px solid transparent;
    border-bottom: 41px solid transparent;
    border-left: 30px solid #d6d9f3;
    right: -28px;
  }
}
.trail-main__wrapper .arrow-progressbar__main .contact-information {
  flex: 1;
  background: #dee1fa;
}
.trail-main__wrapper .arrow-progressbar__main .active {
  background: #7a80bd;
  color: white;
}
.trail-main__wrapper .arrow-progressbar__main .active::after {
  content: "";
  position: absolute;
  right: -40px;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 40px solid #7a80bd;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .arrow-progressbar__main .active::after {
    border-top: 41px solid transparent;
    border-bottom: 41px solid transparent;
    border-left: 30px solid #7a80bd;
    right: -28px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .arrow-progressbar__main {
    font-size: 15px;
  }
}
.trail-main__wrapper .service-section__main {
  margin-bottom: 150px;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .service-section__main {
    margin-bottom: 50px;
  }
}
.trail-main__wrapper .formsection-main__body {
  /* Tooltip container */
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */
}
.trail-main__wrapper .formsection-main__body h4 {
  font-size: 20px;
  margin: 40px 0 25px 0;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .formsection-main__body h4 {
    margin: 40px 0 15px 0;
  }
}
.trail-main__wrapper .formsection-main__body .product-card-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
}
.trail-main__wrapper .formsection-main__body .product-card-main .item-image {
  overflow: hidden;
}
.trail-main__wrapper .formsection-main__body .product-card-main .item-image img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .formsection-main__body .product-card-main .item-image img {
    height: 200px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .formsection-main__body .product-card-main {
    display: block;
  }
}
.trail-main__wrapper .formsection-main__body .tooltip {
  position: relative;
  display: inline-block;
}
.trail-main__wrapper .formsection-main__body .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(85, 85, 85, 0.685);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  right: -3px;
  bottom: -40px;
}
.trail-main__wrapper .formsection-main__body .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 8px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(85, 85, 85, 0.685) transparent;
}
.trail-main__wrapper .formsection-main__body .tooltip:hover .tooltiptext {
  visibility: visible;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .formsection-main__body {
    margin: 0 10px;
  }
}
.trail-main__wrapper .upload-image__main {
  display: none;
  margin-bottom: 150px;
}
.trail-main__wrapper .upload-image__main p {
  width: 50%;
  font-size: 20px;
  line-height: 27px;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .upload-image__main p {
    width: inherit;
    margin: 0 10px;
  }
}
.trail-main__wrapper .upload-image__main .drag-area {
  border: 2px dashed rgba(122, 128, 189, 0.8);
  outline: #fafafa solid 8px;
  height: 350px;
  border-radius: 5px;
  background: #fafafa;
  position: relative;
  padding: 15px;
  margin-top: 40px;
  filter: drop-shadow(0px 1px 4px rgba(122, 128, 189, 0.35));
}
.trail-main__wrapper .upload-image__main .drag-area .result {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .upload-image__main .drag-area .result {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
.trail-main__wrapper .upload-image__main .drag-area img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.trail-main__wrapper .upload-image__main .drag-area .button-container {
  position: relative;
  width: 100%;
}
.trail-main__wrapper .upload-image__main .drag-area .button-container .image_button {
  background: black;
  color: white;
  height: 22px;
  width: 22px;
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: rotate(45deg);
  font-size: 18px;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: inherit;
}
.trail-main__wrapper .upload-image__main .drag-area .button-container .image_button:hover {
  transform: rotate(45deg) scale(1.2);
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .upload-image__main .drag-area {
    margin: 50px 20px 0 20px;
  }
}
.trail-main__wrapper .upload-image__main .drag-area__btn {
  padding: 5px 20px;
  border-radius: 5px;
  background: rgba(250, 250, 250, 0.9294117647);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}
.trail-main__wrapper .upload-image__main .drag-area__btn header {
  color: #8b8b8b;
}
.trail-main__wrapper .upload-image__main .drag-area__btn button {
  background: none;
  border: none;
  font-size: 18px;
  color: rgba(86, 96, 206, 0.7803921569);
  cursor: pointer;
  padding: 0;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .upload-image__main .drag-area__btn button {
    font-size: 15px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .upload-image__main .drag-area__btn {
    width: 85%;
    font-size: 15px;
    padding: 0 10px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .upload-image__main {
    margin-bottom: 50px;
  }
}
.trail-main__wrapper .contact-information__main {
  display: none;
  margin-bottom: 150px;
  position: relative;
}
.trail-main__wrapper .contact-information__main h6 {
  font-size: 20px;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main h6 {
    margin: 40px 0 20px 0;
    font-size: 18px;
  }
}
.trail-main__wrapper .contact-information__main .common-flex-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 85px;
  margin-top: 30px;
}
.trail-main__wrapper .contact-information__main .common-flex-section .primaryinput-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main .common-flex-section .primaryinput-container {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main .common-flex-section {
    display: block;
    margin-top: 0;
  }
}
.trail-main__wrapper .contact-information__main .phone-label {
  margin-bottom: 15px;
}
.trail-main__wrapper .contact-information__main .message-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.trail-main__wrapper .contact-information__main .message-section textarea {
  background: #fafafa;
  border: none;
  outline: none;
  border-left: 1px solid #9095ca;
  padding: 15px 25px;
  font-size: 18px;
}
.trail-main__wrapper .contact-information__main .contact-input {
  border: none;
  outline: none;
  background: #f2f2f2;
  width: 100%;
  height: inherit;
  padding: 17px 25px;
  border-left: 1px solid #9095ca;
  font-size: 18px;
  margin-top: 13px;
}
.trail-main__wrapper .contact-information__main .phone {
  padding-left: 50px;
}
.trail-main__wrapper .contact-information__main .contact-information {
  /* Tooltip container */
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */
}
.trail-main__wrapper .contact-information__main .contact-information .tooltip {
  position: relative;
  display: inline-block;
}
.trail-main__wrapper .contact-information__main .contact-information .tooltip .free__warning-text {
  visibility: hidden;
  width: 63%;
  background-color: rgb(255, 255, 255);
  color: #000;
  text-align: center;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 4px 5px 10px #ccc;
  display: flex;
  align-items: center;
  gap: 5px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 10px;
  border: 0.3px solid #000;
}
.trail-main__wrapper .contact-information__main .contact-information .tooltip .free__warning-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgb(221, 221, 221) transparent;
}
.trail-main__wrapper .contact-information__main .contact-information .tooltip .free__warning-text span {
  margin: 0;
  padding: 0;
  color: orange;
  font-size: 28px;
}
.trail-main__wrapper .contact-information__main .contact-information .tooltip .free__warning-text .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.trail-main__wrapper .contact-information__main .free_trail-button {
  position: absolute;
  bottom: -20px;
  right: 30px;
  font-size: 26px;
}
.trail-main__wrapper .contact-information__main .free_trail-button .button-sub {
  background: #232a5f;
  padding: 10px 30px 10px 0px;
  width: 170px;
  color: white;
  border: none;
  height: inherit;
  cursor: pointer;
  display: grid;
  place-content: center;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main .free_trail-button .button-sub {
    padding: 10px 20px 10px 0;
    width: 120px;
  }
}
.trail-main__wrapper .contact-information__main .free_trail-button .submit-btn {
  position: relative;
}
.trail-main__wrapper .contact-information__main .free_trail-button .submit-btn span {
  position: absolute;
  top: 14px;
  right: 25px;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main .free_trail-button .submit-btn span {
    top: 8px;
    right: 15px;
  }
}
.trail-main__wrapper .contact-information__main .free_trail-button .submit-btn .loader {
  pointer-events: none;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: an1 1s ease infinite;
          animation: an1 1s ease infinite;
}
@-webkit-keyframes an1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main .free_trail-button {
    font-size: 18px;
    bottom: 0;
    right: 10px;
  }
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper .contact-information__main {
    margin: 0 10px 50px 10px;
  }
}
.trail-main__wrapper .previous-button:hover {
  color: rgb(122, 128, 189);
}
@media only screen and (max-width : 480px) {
  .trail-main__wrapper {
    width: 100%;
  }
}/*# sourceMappingURL=freetrail.css.map */